.t-dummy {
  color: silver; }

.t-highlight {
  color: #e91e63; }

.menu-links .badge {
  margin-right: 22px; }

a.module-card {
  color: #e91e63;
  display: block; }

.module-card .card-image .module-image {
  padding-top: 15px;
  text-align: center;
  min-height: 170px;
  color: #fff;
  /* background: $moduleCardIconDefaultBackground; */ }
.module-card .card-image .name {
  font-size: 17px;
  padding: 10px 17px;
  text-align: left; }
.module-card .card-image i {
  font-size: 70px; }
.module-card {
  transition: 0.2s; }
.module-card:hover {
  opacity: 0.7;
  transition: 0.2s; }

a.btn-primary, a.btn-primary:hover {
  color: #fff; }

.note-editor.note-frame {
  border-color: #ddd; }

.table-full tbody > tr > td {
  cursor: default; }

.tb-item-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.tb-sort {
  cursor: pointer; }

#scrollToTop {
  opacity: 0; }

@media screen and (min-width: 768px) {
  .form-inline.switches .form-group {
    margin-top: 0; } }
.table img.record-thumb {
  max-width: 150px;
  max-height: 150px;
  border-radius: 5px; }

.input-filename {
  margin-left: 20px; }

.colorpicker.dropdown-menu {
  margin-top: 0 !important; }
.colorpicker.dropdown-menu > div {
  opacity: 1; }

.colorpicker-2x .colorpicker-saturation {
  width: 200px;
  height: 200px; }

.colorpicker-2x .colorpicker-hue,
.colorpicker-2x .colorpicker-alpha {
  width: 30px;
  height: 200px; }

.colorpicker-2x .colorpicker-color,
.colorpicker-2x .colorpicker-color div {
  height: 30px; }

/*# sourceMappingURL=additional.css.map */
