body {
  background-color: #fcfcfc;
}

.cropper-view {
  display: block;
  border-radius: 2px;
  border: 1px solid #ddd;
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  margin-top: 10px;
}

.cropper-view img {
  width: 100%;
  border-radius: 1px;
}

.cropper-body {
  padding-right: 15px;
  padding-left: 15px;
}

.cropper-upload {
  overflow: hidden;
}

.cropper-upload label {
  display: block;
  float: left;
  clear: left;
  width: 170px;
}

.cropper-upload input {
  display: block;
  margin-left: 110px;
}

.cropper-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cropper-wrapper {
  height: 364px;
  width: 100%;
  margin-top: 15px;
  box-shadow: inset 0 0 5px rgba(0,0,0,.25);
  background-color: #fcfcfc;
  overflow: hidden;
}

.cropper-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.cropper-preview {
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.cropper-preview:hover {
  border-color: #ccf;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.cropper-preview img {
  width: 100%;
}

.preview-lg {
  /*height: 184px;*/
  /*width: 184px;*/
  margin-top: 15px;
}

.preview-md {
  height: 100px;
  width: 100px;
}

.preview-sm {
  height: 50px;
  width: 50px;
}

@media (min-width: 992px) {
  .cropper-preview {
    float: none;
  }
}

.cropper-btns {
  margin-top: 30px;
  margin-bottom: 15px;
}

.cropper-btns .btn-group {
  margin-right: 5px;
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url("/dashboard/img/loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  /*z-index: 20140628;*/
  z-index: 1;
}
