@import 'vars';

.t-dummy 															{ color: $dummyColor; }
.t-highlight 													{ color: $dashboardColor; }

.menu-links .badge { margin-right: 22px; }

a.module-card 													{ color: $dashboardColor; display: block; }
.module-card {
	.card-image {
		.module-image 											{ padding-top: 15px; text-align: center; min-height: $moduleCardIconHeight; color: $moduleCardIconColor; /* background: $moduleCardIconDefaultBackground; */ }
		.name 													{ font-size: 17px; padding: 10px 17px; text-align: left; }
		i 														{ font-size: 70px; } 
	}
	& 															{ transition: $transitionSpeed; }
	&:hover 													{ opacity: $moduleCardHoverOpacity; transition: $transitionSpeed; }
}

// .content-management .module-card .module-image					{ background: $contentModuleBackground; }
a.btn-primary {
	&, &:hover 													{ color: $btnPrimaryLinksColor; }
}

.note-editor.note-frame 										{ border-color: $noteEditorFrameBorderColor; }

// .has-error {
// 	.note-editor 												{ border-color: #F44336; }
// }

.table-full tbody > tr > td 									{ cursor: default; }
.tb-item-icon 													{ background-repeat: no-repeat; background-position: center; background-size: cover; }
.tb-sort 														{ cursor: pointer; }
#scrollToTop 													{ opacity: 0; }

@media screen and ( min-width: 768px ) {
	.form-inline.switches .form-group 							{ margin-top: 0; }
}

.table img.record-thumb 										{ max-width: 150px; max-height: 150px; border-radius: 5px; }

.input-filename 												{ margin-left: 20px; }
.colorpicker.dropdown-menu {
	& { margin-top: 0 !important; }
	& > div { opacity: 1; }
}

.colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }
    
    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }
    
    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div {
        height: 30px;
    }